In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.getcwd()

'/home/yes24/capstone/추천알고리즘/preprocessed'

In [ ]:
os.chdir('/home/yes24/capstone/원진공유폴더/일요일에고생이많다')

In [ ]:
os.listdir()

['dduddurudduruddu.csv',
 'pro_preprocessed_0623.csv',
 'book_feature_clustering.csv',
 'click_bookcluster_0628.csv',
 'product_dums_with_publish&price.csv',
 'clicks_refined_train_0625.csv',
 'cluster_information.csv',
 'hopborn_0628.csv',
 'user_dummified_1df_0628.csv',
 'orders_test_0625.csv',
 'user_features_clustered_0625.csv',
 'clicks_refined_test_0625.csv',
 'orders_train_0625.csv',
 'accounts_age_0623.csv']

In [7]:
os.chdir('/content/drive/MyDrive/sora/python/YES24/!code/')

In [15]:
bookcluster = pd.read_csv('book_feature_clustering.csv')

In [16]:
bookcluster.drop(columns=bookcluster.columns[0], inplace=True)

In [22]:
bookcluster
dummify_col = ['category_id', 'published', 'book_price']
for col in dummify_col:
       bookcluster[col] = bookcluster[col].astype(int).astype(str)
bookcluster = bookcluster[['product_id'] + dummify_col]
bookcluster = pd.get_dummies(bookcluster, columns=dummify_col)
)

/var/folders/hr/gb6mblx17c92hbbhpn97s24m0000gn/T/ipykernel_12093/2338804990.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bookcluster[col] = bookcluster[col].astype(int).astype(str)

,product_id,category_id_1,category_id_10,category_id_11,category_id_12,category_id_13,category_id_14,category_id_15,category_id_16,category_id_17,...,category_id_9,published_0,published_1,published_2,published_3,published_4,book_price_0,book_price_1,book_price_2,book_price_3
0,51205670,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1,51205708,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,51205718,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,51205892,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,51205904,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270626,85352665,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270627,85353942,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270628,85354052,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
270629,85354327,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
270630,85354780,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [26]:
bookcluster.to_csv('bookfeature_dummified_0628.csv', index=None)

In [2]:
user = pd.read_csv('user_features_clustered_0625.csv')

In [6]:
click = pd.read_csv('clicks_refined_train_0625.csv')

KeyboardInterrupt:

In [ ]:
click_bookcluster = pd.merge(click, bookcluster, on='product_id',how='left')

In [ ]:
click_bookcluster.drop(columns=click_bookcluster.columns[0],inplace=True)

In [ ]:
click_bookcluster.dropna(inplace=True)

In [ ]:
click_bookcluster.to_csv('click_bookcluster_0628.csv',index=False)

In [18]:
click_bookcluster

          account_id  product_id          day  category_id  cluster
0             100001    88440267  2020-03-27           3.0      3.0
1             100001    88440267  2020-03-27           3.0      3.0
2             100001    85951536  2020-03-04           3.0      3.0
3             100001    85951536  2020-03-04           3.0      3.0
4             100001    86895523  2020-03-04          33.0      3.0
...              ...         ...          ...          ...      ...
25704554    16837207    84639236  2020-04-30           3.0      3.0
25704555    16837210    66581407  2020-04-30           4.0      4.0
25704556    16837213    15523589  2020-04-30          11.0      4.0
25704557    16837224    58306804  2020-04-30           4.0      4.0
25704558    16837224    89309569  2020-04-30          22.0      3.0

[25704559 rows x 5 columns]

In [3]:
newpref = pd.read_csv('click_newpreference_onehot.csv')

In [4]:
newpref

,account_id,device_type,product_id,before_product_id,category_id,shop_price,pub_newold,new_preference,new_pref
0,100001.0,0.0,6.799639e+07,1.347969e+07,14.044776,15270.895522,0.373134,0.448454,0
1,100004.0,0.0,6.730744e+07,2.427023e+07,4.909091,16318.181818,0.090909,0.090909,0
2,100014.0,0.0,8.990398e+07,0.000000e+00,13.000000,16000.000000,1.000000,1.000000,1
3,100018.0,0.0,7.745835e+07,4.264982e+07,2.000000,25444.444444,0.000000,0.000000,0
4,100020.0,0.0,6.669382e+07,0.000000e+00,22.666667,14200.000000,0.000000,0.272727,0
...,...,...,...,...,...,...,...,...,...
1363441,16837205.0,0.0,6.112346e+07,1.301209e+07,5.200000,14300.000000,0.200000,0.142857,0
1363442,16837207.0,0.0,6.403668e+07,0.000000e+00,3.000000,16933.333333,0.000000,0.000000,0
1363443,16837210.0,0.0,6.658141e+07,0.000000e+00,4.000000,45000.000000,0.000000,0.000000,0
1363444,16837213.0,0.0,1.552359e+07,0.000000e+00,11.000000,22000.000000,0.000000,0.000000,0
1363445,16837224.0,0.0,7.380819e+07,2.915340e+07,13.000000,19000.000000,0.500000,0.333333,0

In [5]:
user_new = pd.merge(user, newpref, on='account_id',how='left')

In [6]:
user_new

,account_id,gender,age,g_age,address_is,frequency,monetary,dist,involvement,day_ratio,...,51~64,65over,device_type,product_id,before_product_id,category_id,shop_price,pub_newold,new_preference_y,new_pref
0,102600,0.0,50.0,4.0,1,1.0,5580.0,88.0,1.000000,0.666667,...,0,0,0.000000,8.133829e+07,0.000000e+00,3.000000,8466.666667,0.666667,0.444444,0
1,103417,0.0,40.0,3.0,0,2.0,23400.0,33.0,8.500000,1.000000,...,0,0,1.000000,6.571334e+07,8.910092e+06,24.764706,13229.411765,0.058824,0.157895,0
2,105247,1.0,59.0,5.0,1,2.0,30870.0,67.0,11.000000,0.590909,...,1,0,0.000000,3.599345e+07,2.233303e+06,28.590909,15845.454545,0.090909,0.090909,0
3,109061,0.0,59.0,5.0,1,1.0,18000.0,80.0,11.000000,0.000000,...,1,0,0.000000,3.752315e+07,3.222782e+07,11.000000,18409.090909,0.000000,0.000000,0
4,109217,0.0,46.0,4.0,0,4.0,71200.0,36.0,2.250000,0.222222,...,0,0,0.000000,7.601243e+07,0.000000e+00,9.000000,19333.333333,0.444444,0.444444,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221177,16829006,0.0,17.0,1.0,1,3.0,35100.0,33.0,4.333333,0.769231,...,0,0,0.230769,7.297918e+07,3.908684e+07,3.000000,13000.000000,0.307692,0.357143,0
1221178,16830266,1.0,41.0,3.0,1,1.0,15750.0,33.0,2.000000,1.000000,...,0,0,1.000000,7.869621e+07,0.000000e+00,1.000000,17500.000000,0.000000,0.000000,0
1221179,16832102,1.0,22.0,2.0,1,1.0,19800.0,33.0,1.000000,0.000000,...,0,0,1.000000,4.977802e+06,0.000000e+00,23.000000,22000.000000,0.000000,0.000000,0
1221180,16834484,0.0,40.0,3.0,1,3.0,20820.0,32.0,1.666667,1.000000,...,0,0,0.000000,6.401314e+07,8.766141e+06,6.600000,9760.000000,0.400000,0.400000,0
1221181,16836022,0.0,20.0,2.0,0,1.0,30000.0,32.0,1.000000,1.000000,...,0,0,1.000000,6.375324e+07,0.000000e+00,2.000000,30000.000000,0.000000,0.000000,0

In [28]:
user_new['new_pref'].unique()

array([0, 1])

In [9]:
dummify_col = ['gender','g_age','most_pref','new_pref','address_is']
for col in dummify_col:
       user_new[col] = user_new[col].astype(int).astype(str)
all_col = ['account_id', 'gender', 'g_age', 'most_pref', 'new_pref', 'address_is']
user_fin = user_new[all_col]
user_fin = pd.get_dummies(user_fin, columns=dummify_col)

In [23]:
user_fin

,account_id,gender_0,gender_1,g_age_0,g_age_1,g_age_2,g_age_3,g_age_4,g_age_5,g_age_6,...,most_pref_34,most_pref_4,most_pref_5,most_pref_7,most_pref_8,most_pref_9,new_pref_0,new_pref_1,address_is_0,address_is_1
0,102600,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
1,103417,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
2,105247,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
3,109061,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,109217,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221177,16829006,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221178,16830266,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221179,16832102,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221180,16834484,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1221181,16836022,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [11]:
user_fin.to_csv('user_dummified_1df_0628.csv',index=False)

In [ ]:
user_fin = pd.read_csv('user_dummified_1df_0628.csv')

In [ ]:
user_fin

,account_id,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,102600.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
1,103417.0,1,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,1,0,1,0
2,105247.0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,1
3,109061.0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
4,109217.0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221177,16829006.0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221178,16830266.0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221179,16832102.0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
1221180,16834484.0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1221181,16836022.0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0

In [29]:
click_bookcluster = pd.read_csv('click_bookcluster_0628.csv')

In [28]:
click_bookcluster.head()

,Unnamed: 0.1,request_date_time,account_id,device_type,product_id,before_product_id,time,day,date_time,week_day,...,month,hour,category_id,published,book_price,maker_label,best200,bestcat24,g_age,cluster
0,6,2020-03-27 16:34:41,100001,M,88440267,0,16,2020-03-27,2020-03-27,Friday,...,3,16,3.0,0.0,2.0,3726.0,0.0,0.0,3.0,3.0
1,7,2020-03-27 16:33:50,100001,M,88440267,0,16,2020-03-27,2020-03-27,Friday,...,3,16,3.0,0.0,2.0,3726.0,0.0,0.0,3.0,3.0
2,8,2020-03-04 23:41:11,100001,M,85951536,0,23,2020-03-04,2020-03-04,Wednesday,...,3,23,3.0,1.0,3.0,7952.0,0.0,0.0,3.0,3.0
3,9,2020-03-04 23:41:17,100001,M,85951536,0,23,2020-03-04,2020-03-04,Wednesday,...,3,23,3.0,1.0,3.0,7952.0,0.0,0.0,3.0,3.0
4,10,2020-03-04 23:40:04,100001,M,86895523,0,23,2020-03-04,2020-03-04,Wednesday,...,3,23,33.0,0.0,2.0,5300.0,1.0,1.0,3.0,3.0

In [13]:
click_bookcluster = click_bookcluster[['account_id','product_id','day','category_id','cluster']]

In [14]:
click_bookcluster.drop('Unnamed: 0.1', axis = 1, inplace = True)

KeyError: "['Unnamed: 0.1'] not found in axis"

In [ ]:
click_bookcluster.drop('before_product_id', axis = 1, inplace = True)

In [ ]:
click_bookcluster.drop(['year', 'month', 'hour'], axis = 1, inplace = True)

In [ ]:
click_bookcluster.drop(['device_type', 'request_date_time', 'week_day'], axis = 1, inplace = True)

In [ ]:
click_bookcluster.drop(['time', 'maker_label', 'book_price'], axis = 1, inplace = True)

In [ ]:
click_bookcluster.drop(['best200', 'published', 'bestcat24'], axis = 1, inplace = True)

In [ ]:
click_bookcluster.drop(['date_time'], axis = 1, inplace = True)

In [ ]:
click_bookcluster.info()

In [ ]:
click_bookcluster

          account_id  product_id          day  category_id  cluster
0             100001    88440267  2020-03-27           3.0      3.0
1             100001    88440267  2020-03-27           3.0      3.0
2             100001    85951536  2020-03-04           3.0      3.0
3             100001    85951536  2020-03-04           3.0      3.0
4             100001    86895523  2020-03-04          33.0      3.0
...              ...         ...          ...          ...      ...
25704554    16837207    84639236  2020-04-30           3.0      3.0
25704555    16837210    66581407  2020-04-30           4.0      4.0
25704556    16837213    15523589  2020-04-30          11.0      4.0
25704557    16837224    58306804  2020-04-30           4.0      4.0
25704558    16837224    89309569  2020-04-30          22.0      3.0

[25704559 rows x 5 columns]

In [ ]:
cb1 = click_bookcluster[:12861166]
cb2 = click_bookcluster[12861166:]

In [ ]:
cb1

          account_id  product_id          day  category_id  cluster
0             100001    88440267  2020-03-27           3.0      3.0
1             100001    88440267  2020-03-27           3.0      3.0
2             100001    85951536  2020-03-04           3.0      3.0
3             100001    85951536  2020-03-04           3.0      3.0
4             100001    86895523  2020-03-04          33.0      3.0
...              ...         ...          ...          ...      ...
12861161     5522127     4221255  2020-04-29          27.0      1.0
12861162     5522131    30557105  2020-03-25          34.0      2.0
12861163     5522156    86560681  2020-04-09           3.0      3.0
12861164     5522156    17849462  2020-03-19           9.0      4.0
12861165     5522156    86895523  2020-03-19          33.0      3.0

[12861166 rows x 5 columns]

In [ ]:
cb2

          account_id  product_id          day  category_id  g_age  cluster
12869825     5522156    74751019  2020-04-19           3.0    3.0      3.0
12869826     5522156    84647978  2020-04-09           3.0    3.0      3.0
12869827     5522156    84639644  2020-04-09           3.0    3.0      3.0
12869828     5522156    74751019  2020-04-19           3.0    3.0      3.0
12869829     5522156    85927916  2020-04-09           3.0    3.0      3.0
...              ...         ...          ...          ...    ...      ...
25724898    16837207    84639236  2020-04-30           3.0    3.0      3.0
25724899    16837210    66581407  2020-04-30           4.0    3.0      4.0
25724900    16837213    15523589  2020-04-30          11.0    3.0      4.0
25724901    16837224    58306804  2020-04-30           4.0    2.0      4.0
25724902    16837224    89309569  2020-04-30          22.0    3.0      3.0

[12843393 rows x 6 columns]

In [ ]:
user_fin.columns

Index(['account_id', 'gender_0.0', 'gender_1.0', 'g_age_0.0', 'g_age_1.0',
       'g_age_2.0', 'g_age_3.0', 'g_age_4.0', 'g_age_5.0', 'g_age_6.0',
       'most_pref_1.0', 'most_pref_2.0', 'most_pref_3.0', 'most_pref_4.0',
       'most_pref_5.0', 'most_pref_7.0', 'most_pref_8.0', 'most_pref_9.0',
       'most_pref_10.0', 'most_pref_11.0', 'most_pref_12.0', 'most_pref_13.0',
       'most_pref_14.0', 'most_pref_15.0', 'most_pref_16.0', 'most_pref_17.0',
       'most_pref_19.0', 'most_pref_20.0', 'most_pref_22.0', 'most_pref_23.0',
       'most_pref_25.0', 'most_pref_27.0', 'most_pref_29.0', 'most_pref_33.0',
       'most_pref_34.0', 'new_pref_0', 'new_pref_1', 'address_is_0',
       'address_is_1'],
      dtype='object')

In [ ]:
h1

,account_id,product_id,day,category_id,g_age,cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,100001,88440267,2020-03-27,3.0,3.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,100001,88440267,2020-03-27,3.0,3.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,100001,85951536,2020-03-04,3.0,3.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,100001,85951536,2020-03-04,3.0,3.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,100001,86895523,2020-03-04,33.0,3.0,3.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12861161,5522127,4221255,2020-04-29,27.0,4.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
12861162,5522131,30557105,2020-03-25,34.0,2.0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
12861163,5522156,86560681,2020-04-09,3.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12861164,5522156,17849462,2020-03-19,9.0,3.0,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12861165,5522156,86895523,2020-03-19,33.0,3.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
h1 = pd.merge(cb1, user_fin, on='account_id',how='left')
h2 = pd.merge(cb2, user_fin, on='account_id',how='left')

In [ ]:
h1

In [ ]:
h1.isnull().sum()

account_id             0
product_id             0
day                    0
category_id            0
g_age                  0
cluster                0
gender_0.0        780067
gender_1.0        780067
g_age_0.0         780067
g_age_1.0         780067
g_age_2.0         780067
g_age_3.0         780067
g_age_4.0         780067
g_age_5.0         780067
g_age_6.0         780067
most_pref_1.0     780067
most_pref_2.0     780067
most_pref_3.0     780067
most_pref_4.0     780067
most_pref_5.0     780067
most_pref_7.0     780067
most_pref_8.0     780067
most_pref_9.0     780067
most_pref_10.0    780067
most_pref_11.0    780067
most_pref_12.0    780067
most_pref_13.0    780067
most_pref_14.0    780067
most_pref_15.0    780067
most_pref_16.0    780067
most_pref_17.0    780067
most_pref_19.0    780067
most_pref_20.0    780067
most_pref_22.0    780067
most_pref_23.0    780067
most_pref_25.0    780067
most_pref_27.0    780067
most_pref_29.0    780067
most_pref_33.0    780067
most_pref_34.0    780067
new_pref_0        780067
new_pref_1        780067
address_is_0      780067
address_is_1      780067
dtype: int64

In [ ]:
h2.isnull().sum()

account_id             0
product_id             0
day                    0
category_id            0
g_age                  0
cluster                0
gender_0.0        899549
gender_1.0        899549
g_age_0.0         899549
g_age_1.0         899549
g_age_2.0         899549
g_age_3.0         899549
g_age_4.0         899549
g_age_5.0         899549
g_age_6.0         899549
most_pref_1.0     899549
most_pref_2.0     899549
most_pref_3.0     899549
most_pref_4.0     899549
most_pref_5.0     899549
most_pref_7.0     899549
most_pref_8.0     899549
most_pref_9.0     899549
most_pref_10.0    899549
most_pref_11.0    899549
most_pref_12.0    899549
most_pref_13.0    899549
most_pref_14.0    899549
most_pref_15.0    899549
most_pref_16.0    899549
most_pref_17.0    899549
most_pref_19.0    899549
most_pref_20.0    899549
most_pref_22.0    899549
most_pref_23.0    899549
most_pref_25.0    899549
most_pref_27.0    899549
most_pref_29.0    899549
most_pref_33.0    899549
most_pref_34.0    899549
new_pref_0        899549
new_pref_1        899549
address_is_0      899549
address_is_1      899549
dtype: int64

In [ ]:
h1.to_csv('hope1_dropna.csv', index = False)
h2.to_csv('hope2_dropna.csv', index = False)

In [ ]:
h1.dropna(inplace = True)
h2.dropna(inplace = True)

In [ ]:
h1.isnull().sum()

account_id        0
product_id        0
day               0
category_id       0
cluster           0
gender_0.0        0
gender_1.0        0
g_age_0.0         0
g_age_1.0         0
g_age_2.0         0
g_age_3.0         0
g_age_4.0         0
g_age_5.0         0
g_age_6.0         0
most_pref_1.0     0
most_pref_2.0     0
most_pref_3.0     0
most_pref_4.0     0
most_pref_5.0     0
most_pref_7.0     0
most_pref_8.0     0
most_pref_9.0     0
most_pref_10.0    0
most_pref_11.0    0
most_pref_12.0    0
most_pref_13.0    0
most_pref_14.0    0
most_pref_15.0    0
most_pref_16.0    0
most_pref_17.0    0
most_pref_19.0    0
most_pref_20.0    0
most_pref_22.0    0
most_pref_23.0    0
most_pref_25.0    0
most_pref_27.0    0
most_pref_29.0    0
most_pref_33.0    0
most_pref_34.0    0
new_pref_0        0
new_pref_1        0
address_is_0      0
address_is_1      0
dtype: int64

In [ ]:
h2.isnull().sum()

account_id        0
product_id        0
day               0
category_id       0
cluster           0
gender_0.0        0
gender_1.0        0
g_age_0.0         0
g_age_1.0         0
g_age_2.0         0
g_age_3.0         0
g_age_4.0         0
g_age_5.0         0
g_age_6.0         0
most_pref_1.0     0
most_pref_2.0     0
most_pref_3.0     0
most_pref_4.0     0
most_pref_5.0     0
most_pref_7.0     0
most_pref_8.0     0
most_pref_9.0     0
most_pref_10.0    0
most_pref_11.0    0
most_pref_12.0    0
most_pref_13.0    0
most_pref_14.0    0
most_pref_15.0    0
most_pref_16.0    0
most_pref_17.0    0
most_pref_19.0    0
most_pref_20.0    0
most_pref_22.0    0
most_pref_23.0    0
most_pref_25.0    0
most_pref_27.0    0
most_pref_29.0    0
most_pref_33.0    0
most_pref_34.0    0
new_pref_0        0
new_pref_1        0
address_is_0      0
address_is_1      0
dtype: int64

In [ ]:
h1.groupby('cluster').sum().to_csv('love1.csv')

In [ ]:
h2.groupby('cluster').sum().to_csv('love2.csv')

In [ ]:
love1 = pd.read_csv('love1.csv')

In [ ]:
love2 = pd.read_csv('love2.csv')

In [ ]:
love1[['cluster', ]]

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
Name: cluster, dtype: float64

In [ ]:
love1_ed = love1[['cluster', 'gender_0.0', 'gender_1.0', 'g_age_0.0', 'g_age_1.0', 'g_age_2.0',
       'g_age_3.0', 'g_age_4.0', 'g_age_5.0', 'g_age_6.0', 'most_pref_1.0',
       'most_pref_2.0', 'most_pref_3.0', 'most_pref_4.0', 'most_pref_5.0',
       'most_pref_7.0', 'most_pref_8.0', 'most_pref_9.0', 'most_pref_10.0',
       'most_pref_11.0', 'most_pref_12.0', 'most_pref_13.0', 'most_pref_14.0',
       'most_pref_15.0', 'most_pref_16.0', 'most_pref_17.0', 'most_pref_19.0',
       'most_pref_20.0', 'most_pref_22.0', 'most_pref_23.0', 'most_pref_25.0',
       'most_pref_27.0', 'most_pref_29.0', 'most_pref_33.0', 'most_pref_34.0',
       'new_pref_0', 'new_pref_1', 'address_is_0', 'address_is_1']]

In [ ]:
love2_ed = love2[['cluster', 'gender_0.0', 'gender_1.0', 'g_age_0.0', 'g_age_1.0', 'g_age_2.0',
       'g_age_3.0', 'g_age_4.0', 'g_age_5.0', 'g_age_6.0', 'most_pref_1.0',
       'most_pref_2.0', 'most_pref_3.0', 'most_pref_4.0', 'most_pref_5.0',
       'most_pref_7.0', 'most_pref_8.0', 'most_pref_9.0', 'most_pref_10.0',
       'most_pref_11.0', 'most_pref_12.0', 'most_pref_13.0', 'most_pref_14.0',
       'most_pref_15.0', 'most_pref_16.0', 'most_pref_17.0', 'most_pref_19.0',
       'most_pref_20.0', 'most_pref_22.0', 'most_pref_23.0', 'most_pref_25.0',
       'most_pref_27.0', 'most_pref_29.0', 'most_pref_33.0', 'most_pref_34.0',
       'new_pref_0', 'new_pref_1', 'address_is_0', 'address_is_1']]

In [ ]:
cluster = love1_ed.iloc[:,:1]

In [ ]:
cluster

   cluster
0      0.0
1      1.0
2      2.0
3      3.0
4      4.0

In [ ]:
love1_ed.iloc[:,1:]

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,1008878.0,551106.0,0.0,167.0,27668.0,716121.0,629924.0,177877.0,8227.0,25573.0,...,21194.0,1704.0,158996.0,87481.0,59291.0,12907.0,1485188.0,74796.0,363400.0,1196584.0
1,1594895.0,862815.0,0.0,253.0,29138.0,1092121.0,1119534.0,207702.0,8962.0,15062.0,...,78004.0,2659.0,791964.0,455176.0,301784.0,49149.0,2345731.0,111979.0,593703.0,1864007.0
2,1137174.0,619992.0,0.0,226.0,35355.0,741353.0,745822.0,223908.0,10502.0,17693.0,...,107025.0,9286.0,271152.0,207215.0,253964.0,64790.0,1638359.0,118807.0,413187.0,1343979.0
3,2655129.0,1479320.0,0.0,417.0,121569.0,1697586.0,1684035.0,604436.0,26406.0,253019.0,...,88075.0,5434.0,536635.0,281027.0,362165.0,116004.0,2949100.0,1185349.0,967671.0,3166778.0
4,1375326.0,796464.0,0.0,236.0,70347.0,760199.0,897032.0,427317.0,16659.0,101097.0,...,27843.0,1433.0,120430.0,68285.0,124281.0,25602.0,2023842.0,147948.0,512092.0,1659698.0

In [ ]:
love2_ed.iloc[:,1:]

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,1033632.0,492205.0,945.0,108741.0,312031.0,589045.0,398559.0,103232.0,13284.0,48084.0,...,16950.0,1221.0,111937.0,69112.0,60776.0,12278.0,1434766.0,91071.0,373559.0,1152278.0
1,1488751.0,683179.0,2427.0,83549.0,307323.0,934369.0,715771.0,113277.0,15214.0,21975.0,...,66914.0,2279.0,609474.0,400734.0,365236.0,66349.0,2064566.0,107364.0,544432.0,1627498.0
2,1083019.0,507483.0,899.0,79711.0,351794.0,602966.0,433045.0,109971.0,12116.0,26386.0,...,93215.0,9239.0,190208.0,180300.0,292054.0,86843.0,1481647.0,108855.0,388384.0,1202118.0
3,2849757.0,1363038.0,2176.0,291693.0,1281197.0,1329784.0,961164.0,309005.0,37776.0,546837.0,...,70586.0,4323.0,380488.0,232132.0,378881.0,119739.0,2755878.0,1456917.0,1005826.0,3206969.0
4,1626570.0,816210.0,483.0,124873.0,1020033.0,569156.0,502347.0,208907.0,16981.0,216444.0,...,22124.0,1111.0,73821.0,47841.0,132469.0,26940.0,2273292.0,169488.0,588191.0,1854589.0

In [ ]:
love_ed = love1_ed.iloc[:,1:].add(love2_ed.iloc[:,1:])

In [ ]:
love_ed

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,2042510.0,1043311.0,945.0,108908.0,339699.0,1305166.0,1028483.0,281109.0,21511.0,73657.0,...,38144.0,2925.0,270933.0,156593.0,120067.0,25185.0,2919954.0,165867.0,736959.0,2348862.0
1,3083646.0,1545994.0,2427.0,83802.0,336461.0,2026490.0,1835305.0,320979.0,24176.0,37037.0,...,144918.0,4938.0,1401438.0,855910.0,667020.0,115498.0,4410297.0,219343.0,1138135.0,3491505.0
2,2220193.0,1127475.0,899.0,79937.0,387149.0,1344319.0,1178867.0,333879.0,22618.0,44079.0,...,200240.0,18525.0,461360.0,387515.0,546018.0,151633.0,3120006.0,227662.0,801571.0,2546097.0
3,5504886.0,2842358.0,2176.0,292110.0,1402766.0,3027370.0,2645199.0,913441.0,64182.0,799856.0,...,158661.0,9757.0,917123.0,513159.0,741046.0,235743.0,5704978.0,2642266.0,1973497.0,6373747.0
4,3001896.0,1612674.0,483.0,125109.0,1090380.0,1329355.0,1399379.0,636224.0,33640.0,317541.0,...,49967.0,2544.0,194251.0,116126.0,256750.0,52542.0,4297134.0,317436.0,1100283.0,3514287.0

In [ ]:
love_ed_fffff = pd.merge(cluster, love_ed, left_index = True, right_index = True)

In [ ]:
love_ed_fffff.to_csv('love_ed_fffff.csv', index = False)

In [ ]:
love_ed_fffff.columns

Index(['cluster', 'gender_0.0', 'gender_1.0', 'g_age_0.0', 'g_age_1.0',
       'g_age_2.0', 'g_age_3.0', 'g_age_4.0', 'g_age_5.0', 'g_age_6.0',
       'most_pref_1.0', 'most_pref_2.0', 'most_pref_3.0', 'most_pref_4.0',
       'most_pref_5.0', 'most_pref_7.0', 'most_pref_8.0', 'most_pref_9.0',
       'most_pref_10.0', 'most_pref_11.0', 'most_pref_12.0', 'most_pref_13.0',
       'most_pref_14.0', 'most_pref_15.0', 'most_pref_16.0', 'most_pref_17.0',
       'most_pref_19.0', 'most_pref_20.0', 'most_pref_22.0', 'most_pref_23.0',
       'most_pref_25.0', 'most_pref_27.0', 'most_pref_29.0', 'most_pref_33.0',
       'most_pref_34.0', 'new_pref_0', 'new_pref_1', 'address_is_0',
       'address_is_1'],
      dtype='object')

In [ ]:
love_ed_fffff

,cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,0.0,2042510.0,1043311.0,945.0,108908.0,339699.0,1305166.0,1028483.0,281109.0,21511.0,...,38144.0,2925.0,270933.0,156593.0,120067.0,25185.0,2919954.0,165867.0,736959.0,2348862.0
1,1.0,3083646.0,1545994.0,2427.0,83802.0,336461.0,2026490.0,1835305.0,320979.0,24176.0,...,144918.0,4938.0,1401438.0,855910.0,667020.0,115498.0,4410297.0,219343.0,1138135.0,3491505.0
2,2.0,2220193.0,1127475.0,899.0,79937.0,387149.0,1344319.0,1178867.0,333879.0,22618.0,...,200240.0,18525.0,461360.0,387515.0,546018.0,151633.0,3120006.0,227662.0,801571.0,2546097.0
3,3.0,5504886.0,2842358.0,2176.0,292110.0,1402766.0,3027370.0,2645199.0,913441.0,64182.0,...,158661.0,9757.0,917123.0,513159.0,741046.0,235743.0,5704978.0,2642266.0,1973497.0,6373747.0
4,4.0,3001896.0,1612674.0,483.0,125109.0,1090380.0,1329355.0,1399379.0,636224.0,33640.0,...,49967.0,2544.0,194251.0,116126.0,256750.0,52542.0,4297134.0,317436.0,1100283.0,3514287.0

In [ ]:
gender = love_ed_fffff.iloc[:,1:3]
g_age = love_ed_fffff.iloc[:,3:10]
most_pref = love_ed_fffff.iloc[:,10:35]
new_pref = love_ed_fffff.iloc[:,35:37]
address = love_ed_fffff.iloc[:,37:]

In [ ]:

gender

   gender_0.0  gender_1.0
0   2042510.0   1043311.0
1   3083646.0   1545994.0
2   2220193.0   1127475.0
3   5504886.0   2842358.0
4   3001896.0   1612674.0

In [ ]:
gender.iloc[0,1]/sum(gender.iloc[0,:])

0.3380983537282299

In [ ]:
g_age

   g_age_0.0  g_age_1.0  g_age_2.0  g_age_3.0  g_age_4.0  g_age_5.0  g_age_6.0
0      945.0   108908.0   339699.0  1305166.0  1028483.0   281109.0    21511.0
1     2427.0    83802.0   336461.0  2026490.0  1835305.0   320979.0    24176.0
2      899.0    79937.0   387149.0  1344319.0  1178867.0   333879.0    22618.0
3     2176.0   292110.0  1402766.0  3027370.0  2645199.0   913441.0    64182.0
4      483.0   125109.0  1090380.0  1329355.0  1399379.0   636224.0    33640.0

In [ ]:
most_pref

,most_pref_1.0,most_pref_2.0,most_pref_3.0,most_pref_4.0,most_pref_5.0,most_pref_7.0,most_pref_8.0,most_pref_9.0,most_pref_10.0,most_pref_11.0,...,most_pref_17.0,most_pref_19.0,most_pref_20.0,most_pref_22.0,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0
0,73657.0,24732.0,657337.0,58669.0,638307.0,113180.0,226303.0,37050.0,26246.0,117627.0,...,104125.0,32257.0,14312.0,34881.0,38144.0,2925.0,270933.0,156593.0,120067.0,25185.0
1,37037.0,20230.0,315487.0,34099.0,177345.0,29724.0,44344.0,32362.0,35116.0,42109.0,...,66435.0,218023.0,44329.0,103429.0,144918.0,4938.0,1401438.0,855910.0,667020.0,115498.0
2,44079.0,27389.0,232396.0,45830.0,131081.0,32769.0,44033.0,37690.0,34161.0,43901.0,...,197055.0,92750.0,100214.0,188540.0,200240.0,18525.0,461360.0,387515.0,546018.0,151633.0
3,799856.0,186605.0,1136035.0,188577.0,304626.0,116820.0,439439.0,129422.0,412161.0,195481.0,...,276559.0,97886.0,72210.0,293156.0,158661.0,9757.0,917123.0,513159.0,741046.0,235743.0
4,317541.0,257728.0,648630.0,574134.0,184170.0,155388.0,88763.0,137266.0,45786.0,231180.0,...,98492.0,45927.0,43883.0,104709.0,49967.0,2544.0,194251.0,116126.0,256750.0,52542.0

In [ ]:
new_pref

   new_pref_0  new_pref_1
0   2919954.0    165867.0
1   4410297.0    219343.0
2   3120006.0    227662.0
3   5704978.0   2642266.0
4   4297134.0    317436.0

In [ ]:
address

   address_is_0  address_is_1
0      736959.0     2348862.0
1     1138135.0     3491505.0
2      801571.0     2546097.0
3     1973497.0     6373747.0
4     1100283.0     3514287.0

In [ ]:
import pandas as pd
import os
import cudf
os.chdir('/home/yes24/capstone/원진공유폴더/일요일에고생이많다')

In [ ]:
os.getcwd()

'/home/yes24/capstone/원진공유폴더/일요일에고생이많다'

In [ ]:
h1= pd.read_csv('hope1_dropna.csv')
h2= pd.read_csv('hope2_dropna.csv')

KeyboardInterrupt:

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
help(scaler)

Help on MinMaxScaler in module sklearn.preprocessing._data object:

class MinMaxScaler(sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  MinMaxScaler(feature_range=(0, 1), *, copy=True)
 |
 |  Transform features by scaling each feature to a given range.
 |
 |  This estimator scales and translates each feature individually such
 |  that it is in the given range on the training set, e.g. between
 |  zero and one.
 |
 |  The transformation is given by::
 |
 |      X_std = (X - X.min(axis=0)) / (X.max(axis=0) - X.min(axis=0))
 |      X_scaled = X_std * (max - min) + min
 |
 |  where min, max = feature_range.
 |
 |  This transformation is often used as an alternative to zero mean,
 |  unit variance scaling.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  feature_range : tuple (min, max), default=(0, 1)
 |      Desired range of transformed data.
 |
 |  copy : bool, default=True
 |      Set to False to perform inplace row normalization and avoid a
 |      copy (if the input is already a numpy array).
 |
 |  Attributes
 |  ----------
 |  min_ : ndarray of shape (n_features,)
 |      Per feature adjustment for minimum. Equivalent to
 |      ``min - X.min(axis=0) * self.scale_``
 |
 |  scale_ : ndarray of shape (n_features,)
 |      Per feature relative scaling of the data. Equivalent to
 |      ``(max - min) / (X.max(axis=0) - X.min(axis=0))``
 |
 |      .. versionadded:: 0.17
 |         *scale_* attribute.
 |
 |  data_min_ : ndarray of shape (n_features,)
 |      Per feature minimum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_min_*
 |
 |  data_max_ : ndarray of shape (n_features,)
 |      Per feature maximum seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_max_*
 |
 |  data_range_ : ndarray of shape (n_features,)
 |      Per feature range ``(data_max_ - data_min_)`` seen in the data
 |
 |      .. versionadded:: 0.17
 |         *data_range_*
 |
 |  n_samples_seen_ : int
 |      The number of samples processed by the estimator.
 |      It will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import MinMaxScaler
 |  >>> data = [[-1, 2], [-0.5, 6], [0, 10], [1, 18]]
 |  >>> scaler = MinMaxScaler()
 |  >>> print(scaler.fit(data))
 |  MinMaxScaler()
 |  >>> print(scaler.data_max_)
 |  [ 1. 18.]
 |  >>> print(scaler.transform(data))
 |  [[0.   0.  ]
 |   [0.25 0.25]
 |   [0.5  0.5 ]
 |   [1.   1.  ]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[1.5 0. ]]
 |
 |  See also
 |  --------
 |  minmax_scale: Equivalent function without the estimator API.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  For a comparison of the different scalers, transformers, and normalizers,
 |  see :ref:`examples/preprocessing/plot_all_scaling.py
 |  <sphx_glr_auto_examples_preprocessing_plot_all_scaling.py>`.
 |
 |  Method resolution order:
 |      MinMaxScaler
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, feature_range=(0, 1), *, copy=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Compute the minimum and maximum to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the per-feature minimum and maximum
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X)
 |      Undo the scaling of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed. It cannot be sparse.
 |
 |      Returns
 |      -------
 |      Xt : array-like of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  partial_fit(self, X, y=None)
 |      Online computation of min and max on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      Returns
 |      -------
 |      self : object
 |          Transformer instance.
 |
 |  transform(self, X)
 |      Scale features of X according to feature_range.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input data that will be transformed.
 |
 |      Returns
 |      -------
 |      Xt : array-like of shape (n_samples, n_features)
 |          Transformed data.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix, dataframe} of shape                 (n_samples, n_features)
 |
 |      y : ndarray of shape (n_samples,), default=None
 |          Target values.
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : object
 |          Estimator instance.

In [ ]:
h1_new = h1.iloc[:,5:]
h2_new = h2.iloc[:,5:]

In [ ]:
h1_new = pd.concat([h1['cluster'],h1_new],axis=1)
h2_new = pd.concat([h2['cluster'],h2_new],axis=1)

In [ ]:
h1_sum = h1_new.groupby('cluster').agg(lambda x:sum(x))

In [ ]:
h2_sum = h2_new.groupby('cluster').agg(lambda x:sum(x))

In [ ]:
h_sum = h1_sum.add(h2_sum)

In [ ]:
h_sum

,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,g_age_3.0,g_age_4.0,g_age_5.0,g_age_6.0,most_pref_1.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
cluster,,,,,,,,,,,,,,,,,,,,,
0.0,2042510.0,1043311.0,945.0,108908.0,339699.0,1305166.0,1028483.0,281109.0,21511.0,73657.0,...,38144.0,2925.0,270933.0,156593.0,120067.0,25185.0,2919954.0,165867.0,736959.0,2348862.0
1.0,3083646.0,1545994.0,2427.0,83802.0,336461.0,2026490.0,1835305.0,320979.0,24176.0,37037.0,...,144918.0,4938.0,1401438.0,855910.0,667020.0,115498.0,4410297.0,219343.0,1138135.0,3491505.0
2.0,2220193.0,1127475.0,899.0,79937.0,387149.0,1344319.0,1178867.0,333879.0,22618.0,44079.0,...,200240.0,18525.0,461360.0,387515.0,546018.0,151633.0,3120006.0,227662.0,801571.0,2546097.0
3.0,5504886.0,2842358.0,2176.0,292110.0,1402766.0,3027370.0,2645199.0,913441.0,64182.0,799856.0,...,158661.0,9757.0,917123.0,513159.0,741046.0,235743.0,5704978.0,2642266.0,1973497.0,6373747.0
4.0,3001896.0,1612674.0,483.0,125109.0,1090380.0,1329355.0,1399379.0,636224.0,33640.0,317541.0,...,49967.0,2544.0,194251.0,116126.0,256750.0,52542.0,4297134.0,317436.0,1100283.0,3514287.0

In [ ]:
h1_count = h1_new.groupby('cluster').agg(lambda x :x.count())
h2_count = h2_new.groupby('cluster').agg(lambda x :x.count())

In [ ]:
h_count = h1_count.add(h2_count)

In [ ]:
h_fin = h_sum / h_count

In [ ]:
h_fin.to_csv('wonjinbabo_0628.csv',index=False)

In [ ]:
h_fin = pd.read_csv("wonjinbabo_0628.csv")

In [ ]:
h_fin.columns

Index(['gender_0.0', 'gender_1.0', 'g_age_0.0', 'g_age_1.0', 'g_age_2.0',
       'g_age_3.0', 'g_age_4.0', 'g_age_5.0', 'g_age_6.0', 'most_pref_1.0',
       'most_pref_2.0', 'most_pref_3.0', 'most_pref_4.0', 'most_pref_5.0',
       'most_pref_7.0', 'most_pref_8.0', 'most_pref_9.0', 'most_pref_10.0',
       'most_pref_11.0', 'most_pref_12.0', 'most_pref_13.0', 'most_pref_14.0',
       'most_pref_15.0', 'most_pref_16.0', 'most_pref_17.0', 'most_pref_19.0',
       'most_pref_20.0', 'most_pref_22.0', 'most_pref_23.0', 'most_pref_25.0',
       'most_pref_27.0', 'most_pref_29.0', 'most_pref_33.0', 'most_pref_34.0',
       'new_pref_0', 'new_pref_1', 'address_is_0', 'address_is_1'],
      dtype='object')

In [ ]:
import pandas as pd
import os

os.chdir('/home/yes24/capstone/원진공유폴더/일요일에고생이많다')

In [ ]:
newp1= pd.read_csv('newp1.csv',nrows=12000000)
newp2= pd.read_csv('newp2.csv',nrows=12000000)

In [ ]:
h1= pd.read_csv('hope1_dropna.csv',nrows=12000000)
h2= pd.read_csv('hope2_dropna.csv',nrows=12000000)

In [ ]:
p1_new = p1.iloc[:,3:]
p2_new = p2.iloc[:,3:]

In [ ]:
p1_sum = p1_new.groupby('label').agg(lambda x:sum(x))
p2_sum = p2_new.groupby('label').agg(lambda x:sum(x))

In [ ]:
p1_sum

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
label,,,,,,,,,,,,,,,,,,,,,
0.0,58584.0,36388.0,145532.0,38487.0,130186.0,31646.0,54559.0,44973.0,37926.0,50770.0,...,69924.0,357215.0,213219.0,199937.0,411273.0,591728.0,288939.0,488229.0,665019.0,331185.0
1.0,67090.0,17713.0,34952.0,9450.0,12223.0,7458.0,49155.0,21842.0,91069.0,12660.0,...,48961.0,454492.0,108921.0,41610.0,57752.0,61329.0,149970.0,135864.0,295698.0,142572.0
2.0,50142.0,31128.0,143661.0,42197.0,102177.0,27236.0,34442.0,37051.0,27886.0,43519.0,...,56496.0,270563.0,189104.0,174952.0,363891.0,513032.0,237308.0,432648.0,559218.0,282368.0
3.0,127860.0,96966.0,601842.0,100539.0,317432.0,120296.0,117755.0,153450.0,74260.0,157368.0,...,209717.0,1011410.0,662165.0,661061.0,1389416.0,2025266.0,866220.0,1744319.0,2145380.0,993399.0
4.0,35463.0,23727.0,96562.0,28354.0,84293.0,24607.0,27295.0,32259.0,22985.0,34071.0,...,45818.0,228573.0,145183.0,133674.0,278815.0,394496.0,183732.0,322789.0,449917.0,224303.0
5.0,25563.0,27994.0,100369.0,41910.0,81022.0,25236.0,17332.0,30228.0,9429.0,34579.0,...,38801.0,140273.0,133174.0,140137.0,295916.0,424394.0,167448.0,326477.0,412294.0,227675.0

In [ ]:
p2_sum

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
label,,,,,,,,,,,,,,,,,,,,,
0.0,118828.0,39221.0,181805.0,83640.0,120320.0,25634.0,88227.0,44549.0,35749.0,64881.0,...,82588.0,365414.0,257592.0,224542.0,440358.0,596212.0,321787.0,479664.0,688873.0,393794.0
1.0,169275.0,16848.0,71472.0,24366.0,11665.0,5405.0,89148.0,16216.0,120398.0,16019.0,...,53361.0,555167.0,178997.0,52064.0,63314.0,61535.0,240905.0,153201.0,310572.0,206399.0
2.0,123412.0,47850.0,206240.0,120073.0,95082.0,25090.0,73159.0,43731.0,35024.0,71588.0,...,84333.0,337471.0,269607.0,233084.0,462105.0,616177.0,305013.0,484410.0,697169.0,431852.0
3.0,208376.0,75345.0,531034.0,139552.0,225057.0,73187.0,170953.0,109979.0,48994.0,133007.0,...,160532.0,752658.0,566276.0,554182.0,1121421.0,1547145.0,742876.0,1322591.0,1623289.0,852926.0
4.0,73432.0,30384.0,116733.0,70193.0,76719.0,19571.0,45464.0,28754.0,21524.0,43584.0,...,51061.0,235260.0,169151.0,147033.0,294515.0,400496.0,204993.0,317543.0,451684.0,272235.0
5.0,63393.0,47337.0,130073.0,164109.0,76337.0,25935.0,35919.0,34591.0,9352.0,62273.0,...,51018.0,155813.0,172201.0,185476.0,393592.0,543114.0,199027.0,366051.0,499642.0,385476.0

In [ ]:
p_sum = p1_sum.add(p2_sum)

In [ ]:
p_sum

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
label,,,,,,,,,,,,,,,,,,,,,
0.0,177412.0,75609.0,327337.0,122127.0,250506.0,57280.0,142786.0,89522.0,73675.0,115651.0,...,152512.0,722629.0,470811.0,424479.0,851631.0,1187940.0,610726.0,967893.0,1353892.0,724979.0
1.0,236365.0,34561.0,106424.0,33816.0,23888.0,12863.0,138303.0,38058.0,211467.0,28679.0,...,102322.0,1009659.0,287918.0,93674.0,121066.0,122864.0,390875.0,289065.0,606270.0,348971.0
2.0,173554.0,78978.0,349901.0,162270.0,197259.0,52326.0,107601.0,80782.0,62910.0,115107.0,...,140829.0,608034.0,458711.0,408036.0,825996.0,1129209.0,542321.0,917058.0,1256387.0,714220.0
3.0,336236.0,172311.0,1132876.0,240091.0,542489.0,193483.0,288708.0,263429.0,123254.0,290375.0,...,370249.0,1764068.0,1228441.0,1215243.0,2510837.0,3572411.0,1609096.0,3066910.0,3768669.0,1846325.0
4.0,108895.0,54111.0,213295.0,98547.0,161012.0,44178.0,72759.0,61013.0,44509.0,77655.0,...,96879.0,463833.0,314334.0,280707.0,573330.0,794992.0,388725.0,640332.0,901601.0,496538.0
5.0,88956.0,75331.0,230442.0,206019.0,157359.0,51171.0,53251.0,64819.0,18781.0,96852.0,...,89819.0,296086.0,305375.0,325613.0,689508.0,967508.0,366475.0,692528.0,911936.0,613151.0

In [ ]:
p1_count = p1_new.groupby('label').agg(lambda x :x.count())
p2_count = p2_new.groupby('label').agg(lambda x :x.count())

In [ ]:
p_count = p1_count.add(p2_count)

In [ ]:
p_count

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
label,,,,,,,,,,,,,,,,,,,,,
0.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,...,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0,3657490.0
1.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,...,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0,1635181.0
2.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,...,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0,3429986.0
3.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,...,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0,10291000.0
4.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,...,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0,2427196.0
5.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,...,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0,2584090.0

In [ ]:
p_fin = p_sum / p_count

In [ ]:
p_fin

,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,cat8.0,cat9.0,cat10.0,cat11.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
label,,,,,,,,,,,,,,,,,,,,,
0.0,0.048506,0.020672,0.089498,0.033391,0.068491,0.015661,0.039039,0.024476,0.020144,0.031620,...,0.041699,0.197575,0.128725,0.116057,0.232846,0.324797,0.166980,0.264633,0.370170,0.198218
1.0,0.144550,0.021136,0.065084,0.020680,0.014609,0.007866,0.084580,0.023274,0.129323,0.017539,...,0.062575,0.617460,0.176077,0.057287,0.074038,0.075138,0.239041,0.176779,0.370766,0.213414
2.0,0.050599,0.023026,0.102012,0.047309,0.057510,0.015255,0.031371,0.023552,0.018341,0.033559,...,0.041058,0.177270,0.133736,0.118961,0.240816,0.329217,0.158112,0.267365,0.366295,0.208228
3.0,0.032673,0.016744,0.110084,0.023330,0.052715,0.018801,0.028054,0.025598,0.011977,0.028216,...,0.035978,0.171419,0.119370,0.118088,0.243984,0.347139,0.156360,0.298019,0.366210,0.179412
4.0,0.044865,0.022294,0.087877,0.040601,0.066337,0.018201,0.029977,0.025137,0.018338,0.031994,...,0.039914,0.191098,0.129505,0.115651,0.236211,0.327535,0.160154,0.263816,0.371458,0.204573
5.0,0.034424,0.029152,0.089177,0.079726,0.060895,0.019802,0.020607,0.025084,0.007268,0.037480,...,0.034758,0.114580,0.118175,0.126007,0.266828,0.374410,0.141820,0.267997,0.352904,0.237279

In [ ]:
p_fin.to_csv('U1b1_0628.csv',index=False)

In [ ]:
p_fin.columns

Index(['cat1.0', 'cat2.0', 'cat3.0', 'cat4.0', 'cat5.0', 'cat7.0', 'cat8.0',
       'cat9.0', 'cat10.0', 'cat11.0', 'cat12.0', 'cat13.0', 'cat14.0',
       'cat15.0', 'cat16.0', 'cat17.0', 'cat19.0', 'cat20.0', 'cat22.0',
       'cat23.0', 'cat25.0', 'cat27.0', 'cat29.0', 'cat33.0', 'cat34.0',
       'pub0.0', 'pub1.0', 'pub2.0', 'pub3.0', 'pub4.0', 'pri0.0', 'pri1.0',
       'pri2.0', 'pri3.0'],
      dtype='object')

In [ ]:
p1

NameError: name 'p1' is not defined

In [ ]:
len(p1)

12072971

In [ ]:
len(h1)-len(p1)

8128

In [ ]:
len(p1)+len(p2[:len(h1)-len(p1)])

12081099

In [ ]:
len(p2[len(h1)-len(p1):])

11943844

In [ ]:
len(h2)

11943844

In [ ]:
newp1 = pd.concat([p1,p2[:len(h1)-len(p1)]],axis=0)

In [ ]:
newp2 = p2[len(h1)-len(p1):]

In [ ]:
newp1.head()

,account_id,product_id,day,label,cat1.0,cat2.0,cat3.0,cat4.0,cat5.0,cat7.0,...,cat34.0,pub0.0,pub1.0,pub2.0,pub3.0,pub4.0,pri0.0,pri1.0,pri2.0,pri3.0
0,100001,88440267,2020-03-27,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,100001,88440267,2020-03-27,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,100001,85951536,2020-03-04,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,100001,85951536,2020-03-04,3.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,100001,86895523,2020-03-04,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
a = int(round(len(h1)/10,0))
#b = int(round(len(h2)/2,0))

In [ ]:
m1 = pd.concat([newp1.iloc[:,4:].reset_index(),h1.iloc[:,5:].reset_index()],axis=1)
#m2 = pd.concat([newp1.iloc[:,4:].reset_index()[a:],h1.iloc[:,5:].reset_index()[a:]],axis=1)
#m3 = pd.concat([newp2.iloc[:,4:].reset_index()[:b],h2.iloc[:,5:].reset_index()[:b]],axis=1)
#m4 = pd.concat([newp2.iloc[:,4:].reset_index()[b:],h2.iloc[:,5:].reset_index()[b:]],axis=1)

In [ ]:
m1.shape

(10000000, 74)

In [ ]:
m1.to_csv('context_12000000_0630.csv',index=False)

In [ ]:
len(h1)

12081099

In [ ]:
h1

,account_id,product_id,day,category_id,cluster,gender_0.0,gender_1.0,g_age_0.0,g_age_1.0,g_age_2.0,...,most_pref_23.0,most_pref_25.0,most_pref_27.0,most_pref_29.0,most_pref_33.0,most_pref_34.0,new_pref_0,new_pref_1,address_is_0,address_is_1
0,100001,88440267,2020-03-27,3.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,100001,88440267,2020-03-27,3.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,100001,85951536,2020-03-04,3.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,100001,85951536,2020-03-04,3.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,100001,86895523,2020-03-04,33.0,3.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12081094,5522121,72230764,2020-03-28,14.0,4.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
12081095,5522123,2312211,2020-03-28,20.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
12081096,5522123,2312211,2020-03-28,20.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
12081097,5522127,4221255,2020-04-29,27.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
12081098,5522131,30557105,2020-03-25,34.0,2.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [ ]:
m1 = pd.concat

In [ ]:
import pandas as pd

In [ ]:
reward = pd.read_csv('/home/yes24/capstone/경서공유폴더/모델_후보1/reward.csv',nrows=10000000)

NameError: name 'pd' is not defined

In [ ]:
reward.to_csv('reward_10000000_0630.csv',index=False)